.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "c c"
        "d m"
    ;
    padding: 20px;
    
}

.dialogsItem {
    border-right: 1px solid #e1e8ed ;
    grid-area: d;
}

.caption {
    grid-area: c;
    position: relative;
}

.caption h3 {
    font-size: larger;
    font-weight: 600;
    color: #424242;
    
}

.messages {
    grid-area: m;
}

.caption h3::before {
    bottom: 20px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
    background: #088dcd;
}

