.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "c c"
        "d m"
    ;
    padding: 20px;
    
}

.dialogsItem {
    border-right: 1px solid #e1e8ed ;
    grid-area: d;
}

.caption {
    grid-area: c;
}

.messages {
    grid-area: m;
}


