
.formControl.error textarea,
.formControl.error input {
    border: solid 2px red;
}
.formControl.error span {
    color: red;
    font-size: 20px;
}

.commonErrorLogin {
    border: solid 1px red;
    color:orangered;
    font-size: 18px;
}