.photo_header img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
.photo_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.photo_header div {
    color: #088dcd;
    text-transform: capitalize;
}