.numberPage:hover {
    background: #eee;
}
.current, .arrowLeft:hover, .arrowRight:hover {
    color: white;
    background-color: #088dcd;
}
.pageCount span {
    margin: 2px;
    cursor: pointer;
}
.pageCount {
    margin: 5px;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px;
}
.numberPage {
    border-right: 1px solid #ddd;
    padding: 2px;
}
.arrowLeft {
    border-right: 1px solid #ddd;
    padding: 2px;
}
.arrowRight {
    padding: 2px;
}