.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "head head head head"
    "cov cov cov cov"
    ". nv cont ."
  ;
  grid-template-rows: 60px 0.3fr 1fr;
  grid-template-columns: 1fr 1fr 10fr 1fr;
}
.nav {
  grid-area: nv;
  background-color: green;
}
.header {
  grid-area: head;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
}
.logo img {
  width: 80px;
  cursor: pointer;
}
.content {
  grid-area: cont;
  background-color: red;
}
.cover {
  grid-area: cov;
  background-color: skyblue;
}

.menu {
  display: flex;

}

.menu li {
  width: 120px;
  height: 50px;
}

.menu a, .setting-area a  {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
  color: #3c3c3c;
}
.menu a:hover, .setting-panel a:hover {
  background-color: gainsboro;
  color: darkslategrey;
}
.setting-panel{
  display: flex;
  margin-right: 30px;
}
.setting-panel img {
  height: 20px;
  vertical-align: middle;
}
.setting-panel div {   
	width: 50px;
	text-align: center;
}
.photo-header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.setting-area {
  display: flex;
  align-items: center;
}