.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "head"
    "cov"
    "main"
    ;
  grid-template-rows: 60px 0.3fr 1fr;
  grid-template-columns: 1fr;
}

.menu, .cover_menu {
  display: flex;
  height: 50px;
}

.menu a, .setting_area a, .cover_menu a  {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
  color: #424242;
}
.menu a:hover, .setting_panel a:hover, .cover_menu a:hover  {
  background-color: #e3e6f1;
  color:  #007bff;
}
.profile_block {
  border: 1px solid #ede9e9;
  border-radius: 5px;
  background-color: #fdfdfd;
  margin-bottom: 20px;
}

